.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    border-top: 3px solid gray;
    text-align: center;
    display: table;
}

.table{
    display: table-row;
}
.table div:not(#home){
    display: table-cell;
    border-left: 3px solid gray;
    border-right: 3px solid gray;
    white-space: nowrap;
}
.tilerow{
    white-space: nowrap;
    border-left: 3px solid gray;
    border-right: 3px solid gray;
}
.home {
    display:table-cell;
    border-right: 3px solid gray;
    width:4%;
}
.shrinker{
    width:100%;
}
img {
    max-width: 50%;
    max-height: 50%;
}